/* Format: 
Display (ie Flex), 
Position (eg Margin), 
Element Size (eg Height, Width),
Background (eg Background Image, Background Color,
Text (eg Font Size, Font Color,
Borders
*/


.App {
  margin: auto;
  
  width: 80vw;

  text-align: center;
}

/* Header */
.App-header {
  background-color: #141f50;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 2px solid black; 
}

/* Nav */
nav {
  display: flex;
  flex-direction:column;
  justify-content: center;

  margin: auto;

  width: 80%;
  height: 7vh;

  color: black;
  background-color: rgba(255, 255, 255, 0);

  /* border: 1px solid green; */
}

nav .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  margin: auto;

  width: 80%;
  height: 100%;

  /* border: 2px solid red; */
}

.default-link {

  padding: 10px 50px 10px 50px;

  list-style-type: none;
  text-decoration: none;
  color: black;
  font-weight: 500;

  /* border: 1px solid blue; */
}

/* Search Component*/
.Search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 27vh;
  width: 100%;

  border: 2px solid black;
}

.Search-params {
  position: relative;

  display: flex;
  justify-content: center;

  width: 80vw
}

.Search-params select {
  margin-right: 0.5em
}

.Search-params input {
  width: 30vw;

  margin-left: 0.5em;
}

.Search-container button {
  width: 44vw;
  
  margin-top: 1em;
  padding: .5em;

  font-size: 1em;
}

/* Submit Component */
.Submit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 27vh;
  width: 100%;

  border: 2px solid black;
}

.Submission-info input {
  margin: 1em
}

.Submit-container button {
  width: 44vw;
  
  margin-top: 1em;
  padding: .5em;

  font-size: 1em;
}

/* Update Component */
.Update-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 27vh;
  width: 100%;

  border: 2px solid black;
}

.Update-container input {
  margin: 1em
}

.Update-buttons {
  display: flex;
}

.Update-buttons button {
  width: 15vw;
  
  margin: 1em;
  padding: .5em;

  font-size: 1em;
}

/* Delete Component */
.Delete-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  height: 27vh;
  width: 100%;

  border: 2px solid black;
}

.Delete-container input {
  margin: 1em
}

.Delete-buttons {
  display: flex;
}

.Delete-buttons button {
  width: 15vw;
  
  margin: 1em;
  padding: .5em;

  font-size: 1em;
}

/* Results Component */
.Results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  min-height: 20vh;
  width: 100%;

  border: 2px solid black;
}

.Results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin: auto;

  width: 80%;
}


.Results-instance {
  margin: 1em;
  padding: 1em;

  width: 90%;

  border: 1px dashed rgb(26, 26, 122);
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;


  width: 100%;
  height: 5vh;

  background-color: #141f50;

  border: 2px solid black; 
}

footer img {
  height: 2em;
}